html, body {
  color: #333333;
  font-family: "Inter", sans-serif !important;
  font-weight: 400; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: inherit; }

@media screen and (min-width: 1464px) {
  html, body {
    font-size: 16px; } }
@media screen and (max-width: 1463px) {
  html, body {
    font-size: 13px; } }
section, .section, main {
  padding: 5rem 12vw;
  position: relative; }
  @media screen and (min-width: 1464px) {
    section, .section, main {
      padding: 5rem 17vw; } }
  @media screen and (max-width: 768px) {
    section, .section, main {
      padding: 3.25rem 7vw; }
      section .mobile-no-padded, .section .mobile-no-padded, main .mobile-no-padded {
        width: 100vw;
        margin-left: -7vw;
        --bs-gutter-x: 0; } }
  section.relaxed, .section.relaxed, main.relaxed {
    padding: 5rem 10vw; }
    @media screen and (min-width: 1464px) {
      section.relaxed, .section.relaxed, main.relaxed {
        padding: 5rem 13vw; } }
    @media screen and (max-width: 768px) {
      section.relaxed, .section.relaxed, main.relaxed {
        padding: 3.25rem 3vw; }
        section.relaxed .mobile-no-padded, .section.relaxed .mobile-no-padded, main.relaxed .mobile-no-padded {
          width: 100vw;
          margin-left: -7vw;
          --bs-gutter-x: 0; } }
  section.tight, .section.tight, main.tight {
    padding: 5rem 13vw; }
    @media screen and (min-width: 1464px) {
      section.tight, .section.tight, main.tight {
        padding: 5rem 21vw; } }
    @media screen and (max-width: 768px) {
      section.tight, .section.tight, main.tight {
        padding: 3.25rem 9vw; }
        section.tight .mobile-no-padded, .section.tight .mobile-no-padded, main.tight .mobile-no-padded {
          width: 100vw;
          margin-left: -7vw;
          --bs-gutter-x: 0; } }
  section.white-section, .section.white-section, main.white-section {
    background-color: #FFFFFF; }
    @media screen and (min-width: 768px) {
      section.white-section-grey::after, .section.white-section-grey::after, main.white-section-grey::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 60%;
        background-color: #F4F4F4; } }
  section.grey-section, .section.grey-section, main.grey-section {
    background-color: #F4F4F4; }
    @media screen and (max-width: 768px) {
      section.grey-section, .section.grey-section, main.grey-section {
        background: #FFF; } }
  section.black-section, .section.black-section, main.black-section {
    background-color: #212121; }

.text-red {
  color: #D52127; }
.text-black {
  color: #333333; }
.text-white {
  color: #FFFFFF; }
.text-grey {
  color: #555555; }

.bg-red {
  background-color: #D52127; }
.bg-black {
  background-color: #333333; }
.bg-white {
  background-color: #FFFFFF; }
.bg-grey {
  background-color: #f1f1f1; }
@media screen and (min-width: 768px) {
  .bg-md-black {
    background-color: #333333 !important;
    color: #FFFFFF !important; }
    .bg-md-black .text-md-red {
      color: #D52127 !important; }
  .bg-md-white {
    background-color: #FFFFFF !important;
    color: #333333 !important; }
    .bg-md-white .text-md-red {
      color: #D52127 !important; } }

.font-weight-regular {
  font-weight: 400; }

.font-weight-medium {
  font-weight: 500; }

h1, .h1 {
  font-size: 2.375rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.2; }
  h1.xl, .h1.xl {
    font-size: 5.25rem; }

h2, .h2 {
  font-size: 2.25rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 2.5rem; }
  h2 .lg, .h2 .lg {
    font-size: 2.375rem; }
  @media screen and (max-width: 767px) {
    h2, .h2 {
      font-size: 2rem !important; } }

h3, .h3 {
  font-size: 1.875rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 2.5rem; }
  h3.lg, .h3.lg {
    font-size: 2rem; }

h4, .h4 {
  font-size: 1.625rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 1.2; }
  h4.lg, .h4.lg {
    font-size: 1.75rem; }

h5, .h5 {
  font-size: 1.375rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.2; }
  h5.lg, .h5.lg {
    font-size: 1.5rem; }

h6, .h6 {
  font-size: 1.25rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.2; }

p, .p {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.2; }
  p.lg, .p.lg {
    font-size: 1.125rem; }

.col-5ths {
  width: 20% !important;
  flex: none !important; }

.card {
  border-radius: .4rem;
  border: none;
  position: relative; }
  .card-black {
    background-color: #2B2A2A;
    color: white; }
  .card.main-review {
    background-color: #F7F7F7;
    box-shadow: 4px 4px 4px rgba(109, 109, 109, 0.24); }
    @media screen and (max-width: 767px) {
      .card.main-review {
        box-shadow: none;
        background-color: #FFF;
        border: 1px solid #E1E1E1;
        border-top-right-radius: 0;
        border-top-left-radius: 0; }
        .card.main-review::after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: .3rem;
          background-color: #D52127;
          border-radius: 0 0 0.625rem 0.625rem; } }
    .card.main-review button {
      background-color: transparent;
      border: none;
      text-align: left;
      padding: 0;
      font-weight: bold; }
    .card.main-review .stars {
      background-image: url(images/stars.svg);
      background-repeat: no-repeat;
      background-size: contain;
      height: 2.5rem;
      width: 100%;
      display: block;
      margin-bottom: 1rem; }
      @media screen and (max-width: 767px) {
        .card.main-review .stars {
          background-position: right; } }

.table.table-striped td {
  border-right: 0.1875rem solid #eee; }
.table.table-striped > :not(caption) > * > * {
  border-bottom-width: 0; }
.table.table-striped thead tr td {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  line-height: 1.12;
  padding: 3rem; }
  .table.table-striped thead tr td.text-center {
    border-top: 0.1875rem solid #eee; }
.table.table-striped tbody tr td {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  line-height: 1.23;
  padding: 3rem; }
  .table.table-striped tbody tr td.failed, .table.table-striped tbody tr td.checked {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem; }
  .table.table-striped tbody tr td.checked {
    background-image: url(images/checked.svg); }
  .table.table-striped tbody tr td.failed {
    background-image: url(images/failed.svg); }
.table.table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: rgba(0, 0, 0, 0.02); }
@media screen and (max-width: 767px) {
  .table.table-striped {
    max-width: 100%;
    overflow-y: scroll; }
    .table.table-striped thead td {
      border-bottom: 1px solid #000 !important;
      font-size: 1.125rem !important;
      font-weight: bold; }
    .table.table-striped tbody tr td, .table.table-striped thead tr td {
      border: none;
      border-top: none;
      border-bottom: 1px solid #dddddd;
      font-size: 1rem;
      font-weight: 400;
      padding: 1rem;
      background-size: 1.5rem; }
    .table.table-striped tbody tr:last-child td, .table.table-striped thead tr:last-child td {
      border-top: none !important; } }

.accordion .accordion-item {
  margin: 0;
  border: none;
  border-bottom: 0.125rem solid #ddd;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }
  .accordion .accordion-item .accordion-button::after {
    background-color: #f3f3f3;
    border-radius: 50%;
    padding: 1rem;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    color: #8a8a8a; }
  .accordion .accordion-item .accordion-button:not(.collapsed) {
    background-color: #fff; }
    .accordion .accordion-item .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }

* {
  position: relative; }
  * .bb-red {
    border-bottom-left-radius: .625rem;
    border-bottom-right-radius: .625rem;
    overflow: hidden; }
    * .bb-red::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: .3rem;
      background-color: #D52127;
      border-radius: 0 0 0.625rem 0.625rem; }
      @media screen and (max-width: 768px) {
        * .bb-red::after {
          height: .625rem; } }
    * .bb-red.xl::after {
      height: .6rem; }
    * .bb-red.single-review {
      width: 45%;
      float: left; }
      * .bb-red.single-review:first-child, * .bb-red.single-review:nth-child(2) {
        margin-bottom: 3rem; }
      * .bb-red.single-review:first-child, * .bb-red.single-review:nth-child(3) {
        margin-right: 10%; }
      * .bb-red.single-review .data .stars {
        background-image: url(images/stars.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 6rem;
        display: block;
        height: 20px; }
      @media screen and (max-width: 991px) {
        * .bb-red.single-review {
          width: 100%;
          margin: 0 !important;
          margin-top: 3rem !important; } }

.btn {
  display: flex;
  align-items: center; }
  .btn-black {
    font-size: 1.375rem;
    background-color: #212121;
    color: #fff;
    text-transform: uppercase;
    padding: 1.625rem 2.5rem; }
    .btn-black:hover {
      color: #fff;
      background-color: #333333; }
    .btn-black > img {
      margin-right: 1rem; }
    @media screen and (max-width: 768px) {
      .btn-black {
        display: flex;
        justify-content: center;
        width: 100%; } }
  .btn-white, .btn-red {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    text-align: center; }
  .btn-white {
    background-color: white;
    color: #D52027; }
  .btn-red {
    background-color: #D52027;
    color: white; }

header .navbar .navbar-brand img {
  max-width: 50vw; }
header .navbar .navbar-toggler-icon {
  background-image: url(images/menu.svg); }
  header .navbar .navbar-toggler-icon.profile {
    background-image: url(images/profile.jpg); }

main {
  position: relative;
  background-color: #181c1c; }
  main::before {
    position: absolute;
    content: '';
    top: 12%;
    left: 0;
    width: 100%;
    height: 74%;
    background-image: url(images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  main h1 {
    position: relative;
    margin-top: 1.625rem; }
    main h1:after {
      position: absolute;
      content: '';
      top: -3.5rem;
      left: 0;
      width: 3rem;
      height: 3rem;
      background-image: url(images/shield.svg);
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain; }
      @media screen and (max-width: 768px) {
        main h1:after {
          left: calc(50% - 1.5rem); } }
  main .card {
    flex: 1;
    padding: 1rem 1.25rem; }
    main .card p, main .card h6 {
      margin-bottom: .25rem; }
    main .card.border-white {
      border: 1px solid #fff;
      background-color: #181c1c; }
  main .year, main .nontoxic, main .nosticky, main .twice {
    height: 100px;
    width: 100px;
    margin: 0 auto 1rem auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: unset;
    background-color: #6A6A6A;
    border-radius: 50%; }
    main .year p, main .nontoxic p, main .nosticky p, main .twice p {
      margin-bottom: 1rem; }
  main .year {
    background-image: url(images/year_mobile.svg); }
  main .nontoxic {
    background-image: url(images/nontoxic_mobile.svg); }
  main .nosticky {
    background-image: url(images/sticky_mobile.svg); }
  main .twice {
    background-image: url(images/twice_mobile.svg); }
  main .text-green {
    color: #2EC721; }
  @media screen and (min-width: 1201px) {
    main {
      background-image: url(images/background.jpg);
      background-position: 50vw 0;
      background-repeat: no-repeat;
      background-size: contain; }
      main .row .col > span .card {
        max-width: 48%; } }
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    main {
      padding-top: calc(30vh + 5rem); }
      main .row .col > span:first-child {
        display: block; }
      main .row .col > span .card {
        max-width: 48%; }
      main::before {
        background-image: url(images/background.jpg);
        background-size: cover;
        top: 0;
        height: 30vh; } }
  @media screen and (max-width: 768px) {
    main .row .col > span:first-child {
      display: block;
      margin-bottom: 52vh; }
    main::before {
      background-image: url(images/background_mobile.png);
      top: 0;
      height: 105vh;
      bottom: 100%; } }

footer {
  background-color: #000000; }
  footer button.scroll-top {
    position: absolute;
    width: 75%;
    left: 12.5%;
    top: -1.5rem;
    height: 3rem;
    border: none;
    border-radius: .75rem; }
    @media screen and (max-width: 767px) {
      footer button.scroll-top {
        background-color: #262626;
        color: #FFF; }
        footer button.scroll-top img {
          fill: #FFF; } }
  footer a {
    display: block; }
  footer .payments {
    background-image: url(images/payments.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 3.125rem;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1.75rem; }
  footer #footer-accordion .accordion-item {
    background-color: transparent;
    border: 1px solid #FFF;
    margin-bottom: .5rem;
    border-radius: .5rem;
    color: #FFF; }
    footer #footer-accordion .accordion-item button {
      background-color: transparent;
      font-size: 1.125rem;
      color: white;
      text-transform: uppercase;
      border-color: transparent;
      box-shadow: none; }
      footer #footer-accordion .accordion-item button::after {
        background-color: transparent;
        border-radius: 50%;
        padding: 1rem;
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
        color: #8a8a8a;
        background-image: url(images/top-w.svg); }
      footer #footer-accordion .accordion-item button:not(.collapsed) {
        background-color: transparent; }
        footer #footer-accordion .accordion-item button:not(.collapsed)::after {
          background-image: url(images/top-w.svg); }

#wsywg {
  font-weight: 500; }
  #wsywg .card {
    height: 100%; }
    #wsywg .card img {
      width: 5.3125rem;
      margin: 0 auto; }

#keepyou img {
  width: 4.0625rem;
  margin: 0 auto; }
@media screen and (max-width: 768px) {
  #keepyou {
    background-color: #FFFFFF; } }

@media screen and (max-width: 768px) {
  #windshield .img-fluid {
    max-height: 20vh; } }
#windshield h5.lg {
  color: #686868; }
  #windshield h5.lg.mb-3 {
    font-size: 1.2rem !important;
    color: #FFFFFF; }

#stops .unprotected, #stops .protected, #enhances .unprotected, #enhances .protected {
  position: relative;
  height: 25rem;
  margin-bottom: 2.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center; }
  #stops .unprotected label, #stops .protected label, #enhances .unprotected label, #enhances .protected label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: calc(0px - 2.1875rem);
    height: 4.0625rem;
    color: white;
    font-size: 1.875rem;
    border: none;
    padding: 2rem; }
  @media screen and (max-width: 768px) {
    #stops .unprotected, #stops .protected, #enhances .unprotected, #enhances .protected {
      height: 25vh; }
      #stops .unprotected label, #stops .protected label, #enhances .unprotected label, #enhances .protected label {
        font-size: 1rem; } }
#stops .protected label, #enhances .protected label {
  content: 'PROTECTED';
  background-color: #D52027; }
#stops .unprotected label, #enhances .unprotected label {
  content: 'UNPROTECTED';
  background-color: #6A6A6A; }
#stops .vertical-divider-red > *, #enhances .vertical-divider-red > * {
  position: relative; }
  #stops .vertical-divider-red > *:last-child::before, #enhances .vertical-divider-red > *:last-child::before {
    position: absolute;
    content: '';
    display: block;
    top: -5%;
    left: 0%;
    background-color: #D52027;
    width: .6rem;
    height: 99%;
    z-index: 9; }

#stops .protected {
  background-image: url(images/protected_1.jpg); }
#stops .unprotected {
  background-image: url(images/unprotected_1.jpg); }

#enhances .protected {
  background-image: url(images/protected_2.jpg); }
#enhances .unprotected {
  background-image: url(images/unprotected_2.jpg); }
#enhances .uncoated {
  background-image: url(images/uncoated.jpg); }
  @media screen and (max-width: 768px) {
    #enhances .uncoated > div {
      text-align: left !important; } }
#enhances .coated {
  background-image: url(images/coated.jpg); }
  @media screen and (max-width: 768px) {
    #enhances .coated > div {
      text-align: right !important; } }
#enhances .coated, #enhances .uncoated {
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  color: #555555;
  margin-bottom: 3.75rem; }
  @media screen and (max-width: 768px) {
    #enhances .coated, #enhances .uncoated {
      height: 15rem !important; } }
  #enhances .coated > div, #enhances .uncoated > div {
    position: absolute;
    width: 50%;
    bottom: -3.75rem;
    left: 25%;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25); }
    @media screen and (max-width: 768px) {
      #enhances .coated > div, #enhances .uncoated > div {
        width: calc(100% - 14vw);
        left: 7vw;
        top: 103%;
        bottom: unset;
        box-shadow: none; } }

#liquid .float-start img {
  width: 3rem;
  margin-right: 2rem; }

@media screen and (max-width: 768px) {
  #whatsin {
    padding-top: 0;
    padding-bottom: 0; }
    #whatsin .flex-row .text-red {
      color: #555555 !important;
      margin-top: 2.5rem;
      padding-right: 30%; } }
#whatsin .whatsin {
  background-image: url(images/whatsin.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
#whatsin .bb-red {
  background-image: url(images/whatsin_mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 22rem;
  border-radius: 0.625rem;
  margin-bottom: 2.5rem; }

.matbus, .airport {
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  height: 22rem;
  border-bottom-right-radius: .625rem;
  border-bottom-left-radius: .625rem; }

.matbus {
  background-image: url(images/matbus.jpg); }

.airport {
  background-image: url(images/hector_airport.jpg); }

/*# sourceMappingURL=styles.css.map */
