// SHATTER X - Create and overwrite Bootstrap styles
//Reboot
html, body {
    color: #333333;
    font-family: 'Inter', sans-serif!important;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: inherit;
    }
}
@media screen and (min-width: 1464px) {
    html, body {
        font-size: 16px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1463px) {
    html, body {
        font-size: 13px;
    }
}
// Sections
section, .section, main {
    @media screen and (min-width: 1464px) {
        padding: 5rem 17vw;
    }
    padding: 5rem 12vw;
    position: relative;
    &.relaxed {
        // Menos padding
        @media screen and (min-width: 1464px) {
            padding: 5rem 13vw;
        }
        padding: 5rem 10vw;
    }
    &.tight {
        // Mas padding
        @media screen and (min-width: 1464px) {
            padding: 5rem 21vw;
        }
        padding: 5rem 13vw;
    }
    &.white-section {
        background-color: #FFFFFF;
        &-grey::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
            width: 100%;
            height: 60%;
            background-color: #F4F4F4;
        }
    }
    &.grey-section{
        background-color: #F4F4F4;
    }
    &.black-section {
        background-color: #212121;
    }
}
// Texts
.text- {
    &red {
        color: #D52127;
    }
    &black {
        color: #333333;
    }
    &white {
        color: #FFFFFF;
    }
    &grey {
        color: #555555;
    }
}
//Backgrounds
.bg- {
    &red {
        background-color: #D52127;
    }
    &black {
        background-color: #333333;
    }
    &white {
        background-color: #FFFFFF;
    }
    &grey {
        background-color: #f1f1f1;
    }
}

//Typographies
.font-weight-regular {
    font-weight: 400;
}
.font-weight-medium {
    font-weight: 500;
}
h1, .h1 {
    font-size: 2.375rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    &.xl {
        font-size: 5.25rem;
    }
}
h2, .h2 {
    .lg {
        font-size: 2.375rem;
    }
    font-size: 2.25rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2.5rem;
}
h3, .h3 {
    &.lg {
        font-size: 2rem;
    }
    font-size: 1.875rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2.5rem;
}
h4, .h4 {
    &.lg {
        font-size: 1.75rem;
    }
    font-size: 1.625rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 1.2;
}
h5, .h5 {
    &.lg {
        font-size: 1.5rem;
    }
    font-size: 1.375rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.2;

}
h6, .h6 {
    font-size: 1.25rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.2;
}
p, .p {
    &.lg {
        font-size: 1.125rem;
    }
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

//Helpers
.col-5ths {
    width: 20%!important;
    flex: none!important;
}

//Card component
.card {
    border-radius: .4rem;
    border: none;
    position: relative;
    &-black {
        background-color: #2B2A2A;
        color: white;
    }
    &.main-review {
        background-color: #F7F7F7;
        box-shadow: 4px 4px 4px rgba(109, 109, 109, 0.24);
        button {
            background-color: transparent;
            border: none;
            text-align: left;
            padding: 0;
            font-weight: bold;
        }
        .stars {
            background-image: url(images/stars.svg);
            background-repeat: no-repeat;
            background-size: contain;
            height: 2.5rem;
            width: 100%;
            display: block;
            margin-bottom: 1rem;
        }
    }
}

//Comparative Table
.table.table-striped {
    td {
        border-right: 0.1875rem solid #eee;
    }
    &>:not(caption)>*>* {
        border-bottom-width: 0;
    }
    thead {
        tr {
            td {
                font-size: 1.5rem;
                font-weight: bold;
                font-family: 'Inter', sans-serif;
                line-height: 1.12;
                padding: 3rem;
                &.text-center {
                    border-top: 0.1875rem solid #eee;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                font-size: 1.25rem;
                font-weight: bold;
                font-family: 'Inter', sans-serif;
                line-height: 1.23;
                padding: 3rem;
                &.failed, &.checked {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 2rem;
                }
                &.checked {
                    background-image: url(images/checked.svg);
                }
                &.failed {
                    background-image: url(images/failed.svg);
                }
            }
        }
    }
    >tbody>tr:nth-of-type(odd) {
        --bs-table-accent-bg: rgba(0, 0, 0, 0.02);
    }
}

//Accordion
.accordion {
    .accordion-item {
        margin: 0;
        border: none;
        border-bottom: 0.125rem solid #ddd;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        .accordion-button {
            &::after {
                background-color: #f3f3f3;
                border-radius: 50%;
                padding: 1rem;
                background-size: 70%;
                background-position: center;
                background-repeat: no-repeat;
                color: #8a8a8a;

            }
            &:not(.collapsed) {
                background-color: #fff;
                &::after {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                }
            }
        }
    }
}

//Border Bottom Red
* {
    position: relative;
    .bb-red {
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: .3rem;
            background-color: #D52127;
            border-radius: 0 0 0.625rem 0.625rem;
        }
        &.xl::after {
            height: .6rem;
        }
        &.single-review {
            width: 45%;
            float: left;
            &:first-child, &:nth-child(2) {
                margin-bottom: 3rem;
            }
            &:first-child, &:nth-child(3) {
                margin-right: 10%;
            }
            .data {
                .stars {
                    background-image: url(images/stars.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 6rem;
                    display: block;
                    height: 20px;
                }
            }
        }
    }
}

//Button component
.btn {
    display: flex;
    align-items: center;
    &-black {
        font-size: 1.375rem;
        background-color: #212121;
        color: #fff;
        text-transform: uppercase;
        padding: 1.625rem 2.5rem;
        &:hover {
            color: #fff;
            background-color: #333333;
        }
        >img {
            margin-right: 1rem;
        }
    }
    &-white, &-red {
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 1.125rem;
        text-align: center;
    }
    &-white {
        background-color: white;
        color: #D52027;
    }
    &-red {
        background-color: #D52027;
        color: white;
    }
}

//SPECIFIC STYLES
main {
    position: relative;
    background-image: url(images/background.jpg);
    background-position: 50vw 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #181c1c;
    &::before {
        position: absolute;
        content: '';
        top: 12%;
        left: 0;
        width: 100%;
        height: 74%;
        background-image: url(images/background.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain
    }
    h1 {
        position: relative;
        margin-top: 1.625rem;
        &:after {
            position: absolute;
            content: '';
            top: -3.5rem;
            left: 0;
            width: 3rem;
            height: 3rem;
            background-image: url(images/shield.svg);
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
        }
    }
    .card {
        flex: 1;
        max-width: 48%;
        padding: 1rem 1.25rem;
        p, h6 {
            margin-bottom: .25rem;
        }
        &.border-white {
            border: 1px solid #fff;
            background-color: #181c1c;
        }
    }
}
footer {
    background-color: #000000;
    button {
        &.scroll-top {
            position: absolute;
            width: 75%;
            left: 12.5%;
            top: -1.5rem;
            height: 3rem;
            border: none;
            border-radius: .75rem;
        }
    }
    a {
        display: block;
    }
    .payments {
        background-image: url(images/payments.jpg);
        background-position: center;
        background-repeat: no-repeat;
        height: 3.125rem;
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 1.75rem;
    }
}
#wsywg {
    font-weight: 500;
    .card {
        height: 100%;
        img {
            width: 5.3125rem;
            margin: 0 auto;
        }
    }
}
#keepyou {
    img {
        width: 4.0625rem;
        margin: 0 auto;
    }
}
#windshield {
    .img-fluid {
        // max-width: 33.75rem;
    }
}
#stops, #enhances {
    .unprotected, .protected{
        position: relative;
        height: 25rem;
        margin-bottom: 2.5rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &::after {
            content: '';
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: calc(0px - 2.1875rem);
            left: 25%;
            width: 50%;
            height: 4.0625rem;
            color: white;
            font-size: 1.875rem;
        }
    }
    .protected {
        &::after {
            content: 'PROTECTED';
            background-color: #D52027;
        }
    }
    .unprotected {
        &::after {
            content: 'UNPROTECTED';
            background-color: #6A6A6A;
        }
    }
    .vertical-divider-red {
        &>* {
            position: relative;
            &:last-child::before{
                position: absolute;
                content: '';
                display: block;
                top: -5%;
                left: 0%;
                background-color: #D52027;
                width: .6rem;
                height: 110%;
                z-index: 9;
            }
        }
    }
}
#stops {
    .protected {
        background-image: url(images/protected_1.jpg);
    }
    .unprotected {
        background-image: url(images/unprotected_1.jpg);
    }
}
#enhances {
    .protected {
        background-image: url(images/protected_2.jpg);
    }
    .unprotected {
        background-image: url(images/unprotected_2.jpg);
    }
    .uncoated {
        background-image: url(images/uncoated.jpg);
    }
    .coated {
        background-image: url(images/coated.jpg);
    }
    .coated, .uncoated {
        height: 25rem;
        background-size: cover;
        background-repeat: no-repeat;
        color: #555555;
        margin-bottom: 3.75rem;
        >div {
            position: absolute;
            width: 50%;
            bottom: -3.75rem;
            left: 25%;
            box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
        }
    }
}
#liquid {
    .float-start {
        img {
            width: 3rem;
            margin-right: 2rem;
        }
    }
}
#whatsin {
    .whatsin {
        background-image: url(images/whatsin.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.matbus, .airport {
    background-repeat: no-repeat;
    background-size: 100% calc(100% - 0.625rem);
    background-position: center left;
    > img {
        border-bottom-left-radius: 0.3125rem;
        border-bottom-right-radius: 0.3125rem;
        z-index: -1;
    }
}
.matbus {
    background-image: url(images/matbus.jpg);
}
.airport {
    background-image: url(images/hector_airport.jpg);
}