// SHATTER X - Create and overwrite Bootstrap styles
//Reboot
html, body {
    color: #333333;
    font-family: 'Inter', sans-serif!important;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: inherit;
    }
}
@media screen and (min-width: 1464px) {
    html, body {
        font-size: 16px;
    }
}
@media screen and (max-width: 1463px) {
    html, body {
        font-size: 13px;
    }
}
// Sections
section, .section, main {
    @media screen and (min-width: 1464px) {
        padding: 5rem 17vw;
    }
    @media screen and (max-width: 768px) {
        padding: 3.25rem 7vw;
        .mobile-no-padded {
            width: 100vw;
            margin-left: -7vw;
            --bs-gutter-x: 0;
        }
    }
    padding: 5rem 12vw;
    position: relative;
    &.relaxed {
        // Menos padding
        @media screen and (min-width: 1464px) {
            padding: 5rem 13vw;
        }
        @media screen and (max-width: 768px) {
            padding: 3.25rem 3vw;
            .mobile-no-padded {
                width: 100vw;
                margin-left: -7vw;
                --bs-gutter-x: 0;
            }
        }
        padding: 5rem 10vw;
    }
    &.tight {
        // Mas padding
        @media screen and (min-width: 1464px) {
            padding: 5rem 21vw;
        }
        @media screen and (max-width: 768px) {
            padding: 3.25rem 9vw;
            .mobile-no-padded {
                width: 100vw;
                margin-left: -7vw;
                --bs-gutter-x: 0;
            }
        }
        padding: 5rem 13vw;
    }
    &.white-section {
        background-color: #FFFFFF;
        @media screen and (min-width: 768px) {
            &-grey::after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: -1;
                width: 100%;
                height: 60%;
                background-color: #F4F4F4;
            }
        }
    }
    &.grey-section{
        background-color: #F4F4F4;
        @media screen and (max-width: 768px) {
            background: #FFF;
        }
    }
    &.black-section {
        background-color: #212121;
    }
}
// Texts
.text- {
    &red {
        color: #D52127;
    }
    &black {
        color: #333333;
    }
    &white {
        color: #FFFFFF;
    }
    &grey {
        color: #555555;
    }
}
//Backgrounds
.bg- {
    &red {
        background-color: #D52127;
    }
    &black {
        background-color: #333333;
    }
    &white {
        background-color: #FFFFFF;
    }
    &grey {
        background-color: #f1f1f1;
    }
    @media screen and (min-width: 768px) {
        &md-black {
            background-color: #333333!important;
            color: #FFFFFF!important;
            .text-md-red {
                color: #D52127!important;
            }
        }
        &md-white {
            background-color: #FFFFFF!important;
            color: #333333!important;
            .text-md-red {
                color: #D52127!important;
            }
        }
    }
}

//Typographies
.font-weight-regular {
    font-weight: 400;
}
.font-weight-medium {
    font-weight: 500;
}
h1, .h1 {
    font-size: 2.375rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    &.xl {
        font-size: 5.25rem;
    }
}
h2, .h2 {
    .lg {
        font-size: 2.375rem;
    }
    font-size: 2.25rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2.5rem;
    @media screen and (max-width: 767px) {
        font-size: 2rem!important;
    }
}
h3, .h3 {
    &.lg {
        font-size: 2rem;
    }
    font-size: 1.875rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2.5rem;
}
h4, .h4 {
    &.lg {
        font-size: 1.75rem;
    }
    font-size: 1.625rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 1.2;
}
h5, .h5 {
    &.lg {
        font-size: 1.5rem;
    }
    font-size: 1.375rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.2;

}
h6, .h6 {
    font-size: 1.25rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.2;
}
p, .p {
    &.lg {
        font-size: 1.125rem;
    }
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

//Helpers
.col-5ths {
    width: 20%!important;
    flex: none!important;
}

//Card component
.card {
    border-radius: .4rem;
    border: none;
    position: relative;
    &-black {
        background-color: #2B2A2A;
        color: white;
    }
    &.main-review {
        background-color: #F7F7F7;
        box-shadow: 4px 4px 4px rgba(109, 109, 109, 0.24);
        @media screen and (max-width: 767px) {
            box-shadow: none;
            background-color: #FFF;
            border: 1px solid #E1E1E1;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: .3rem;
                background-color: #D52127;
                border-radius: 0 0 0.625rem 0.625rem;
            }
        }
        button {
            background-color: transparent;
            border: none;
            text-align: left;
            padding: 0;
            font-weight: bold;
        }
        .stars {
            background-image: url(images/stars.svg);
            background-repeat: no-repeat;
            background-size: contain;
            height: 2.5rem;
            width: 100%;
            display: block;
            margin-bottom: 1rem;
            @media screen and (max-width: 767px) {
                background-position: right;
            }
        }
    }
}

//Comparative Table
.table.table-striped {
    td {
        border-right: 0.1875rem solid #eee;
    }
    &>:not(caption)>*>* {
        border-bottom-width: 0;
    }
    thead {
        tr {
            td {
                font-size: 1.5rem;
                font-weight: bold;
                font-family: 'Inter', sans-serif;
                line-height: 1.12;
                padding: 3rem;
                &.text-center {
                    border-top: 0.1875rem solid #eee;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                font-size: 1.25rem;
                font-weight: bold;
                font-family: 'Inter', sans-serif;
                line-height: 1.23;
                padding: 3rem;
                &.failed, &.checked {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 2rem;
                }
                &.checked {
                    background-image: url(images/checked.svg);
                }
                &.failed {
                    background-image: url(images/failed.svg);
                }
            }
        }
    }
    >tbody>tr:nth-of-type(odd) {
        --bs-table-accent-bg: rgba(0, 0, 0, 0.02);
    }

    @media screen and (max-width: 767px) {
        max-width: 100%;
        overflow-y: scroll;
        thead {
            td {
                border-bottom: 1px solid #000!important;
                font-size: 1.125rem!important;
                font-weight: bold;
            }
        }
        tbody, thead {
            tr {
                td {
                    border: none;
                    border-top: none;
                    border-bottom: 1px solid #dddddd;
                    font-size: 1rem;
                    font-weight: 400;
                    padding: 1rem;
                    background-size: 1.5rem;
                }
                &:last-child td{
                    border-top: none!important;
                }
            }
        }
    }
}

//Accordion
.accordion {
    .accordion-item {
        margin: 0;
        border: none;
        border-bottom: 0.125rem solid #ddd;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        .accordion-button {
            &::after {
                background-color: #f3f3f3;
                border-radius: 50%;
                padding: 1rem;
                background-size: 70%;
                background-position: center;
                background-repeat: no-repeat;
                color: #8a8a8a;

            }
            &:not(.collapsed) {
                background-color: #fff;
                &::after {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                }
            }
        }
    }
}

//Border Bottom Red
* {
    position: relative;
    .bb-red {
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: .3rem;
            background-color: #D52127;
            border-radius: 0 0 0.625rem 0.625rem;
            @media screen and (max-width: 768px) {
                height: .625rem;
            }
        }
        &.xl::after {
            height: .6rem;
        }
        &.single-review {
            width: 45%;
            float: left;
            &:first-child, &:nth-child(2) {
                margin-bottom: 3rem;
            }
            &:first-child, &:nth-child(3) {
                margin-right: 10%;
            }
            .data {
                .stars {
                    background-image: url(images/stars.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 6rem;
                    display: block;
                    height: 20px;
                }
            }
            @media screen and (max-width: 991px) {
                width: 100%;
                margin: 0!important;
                margin-top: 3rem!important;
            }
        }
    }
}

//Button component
.btn {
    display: flex;
    align-items: center;
    &-black {
        font-size: 1.375rem;
        background-color: #212121;
        color: #fff;
        text-transform: uppercase;
        padding: 1.625rem 2.5rem;
        &:hover {
            color: #fff;
            background-color: #333333;
        }
        >img {
            margin-right: 1rem;
        }
        @media screen and (max-width: 768px) {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
    &-white, &-red {
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 1.125rem;
        text-align: center;
    }
    &-white {
        background-color: white;
        color: #D52027;
    }
    &-red {
        background-color: #D52027;
        color: white;
    }
}

//SPECIFIC STYLES
header {
    .navbar {
        .navbar-brand {
            img {
                max-width: 50vw;
            }
        }
        .navbar-toggler-icon {
            background-image: url(images/menu.svg);
            &.profile {
                background-image: url(images/profile.jpg);
            }
        }
    }
}
main {
    position: relative;
    background-color: #181c1c;
    &::before {
        position: absolute;
        content: '';
        top: 12%;
        left: 0;
        width: 100%;
        height: 74%;
        background-image: url(images/background.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain
    }
    h1 {
        position: relative;
        margin-top: 1.625rem;
        &:after {
            position: absolute;
            content: '';
            top: -3.5rem;
            left: 0;
            width: 3rem;
            height: 3rem;
            background-image: url(images/shield.svg);
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
            @media screen and (max-width: 768px) {
                left: calc(50% - 1.5rem);
            }
        }
    }
    .card {
        flex: 1;
        padding: 1rem 1.25rem;
        p, h6 {
            margin-bottom: .25rem;
        }
        &.border-white {
            border: 1px solid #fff;
            background-color: #181c1c;
        }
    }
    .year, .nontoxic, .nosticky, .twice {
        height: 100px;
        width: 100px;
        margin: 0 auto 1rem auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: unset;
        background-color: #6A6A6A;
        border-radius: 50%;
        p {
            margin-bottom: 1rem;
        }
    }
    .year {
        background-image: url(images/year_mobile.svg);
    }
    .nontoxic {
        background-image: url(images/nontoxic_mobile.svg);
    }
    .nosticky {
        background-image: url(images/sticky_mobile.svg);
    }
    .twice {
        background-image: url(images/twice_mobile.svg);
    }
    @media screen and (min-width: 1201px) {
        background-image: url(images/background.jpg);
        background-position: 50vw 0;
        background-repeat: no-repeat;
        background-size: contain;
        .row .col >span {
            .card {
                max-width: 48%;
            }
        }
    }
    @media screen and (min-width: 769px) and (max-width: 1200px) {
        padding-top: calc(30vh + 5rem);
        .row .col >span {
            &:first-child {
                display: block;
            }
            .card {
                max-width: 48%;
            }
        }
        &::before {
            background-image: url(images/background.jpg);
            background-size: cover;
            top: 0;
            height: 30vh;
        }
    }
    @media screen and (max-width: 768px) {
        .row .col >span {
            &:first-child {
                display: block;
                margin-bottom: 52vh;
            }
        }
        &::before {
            background-image: url(images/background_mobile.png);
            top: 0;
            height: 105vh;
            bottom: 100%;
        }
    }
}
footer {
    background-color: #000000;
    button {
        &.scroll-top {
            position: absolute;
            width: 75%;
            left: 12.5%;
            top: -1.5rem;
            height: 3rem;
            border: none;
            border-radius: .75rem;
            @media screen and (max-width: 767px) {
                background-color: #262626;
                color: #FFF;
                img {
                    fill: #FFF;
                }
            }
        }
    }
    a {
        display: block;
    }
    .payments {
        background-image: url(images/payments.jpg);
        background-position: center;
        background-repeat: no-repeat;
        height: 3.125rem;
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 1.75rem;
    }
    #footer-accordion {
        .accordion-item {
            background-color: transparent;
            border: 1px solid #FFF;
            margin-bottom: .5rem;
            border-radius: .5rem;
            color: #FFF;
            button {
                background-color: transparent;
                font-size: 1.125rem;
                color: white;
                text-transform: uppercase;
                border-color: transparent;
                box-shadow: none;
                &::after {
                    background-color: transparent;
                    border-radius: 50%;
                    padding: 1rem;
                    background-size: 70%;
                    background-position: center;
                    background-repeat: no-repeat;
                    color: #8a8a8a;
                    background-image: url(images/top-w.svg);
                }
                &:not(.collapsed) {
                    background-color: transparent;
                    &::after {
                        background-image: url(images/top-w.svg);
                    }
                }
            }
        }
    }
}
#wsywg {
    font-weight: 500;
    .card {
        height: 100%;
        img {
            width: 5.3125rem;
            margin: 0 auto;
        }
    }
}
#keepyou {
    img {
        width: 4.0625rem;
        margin: 0 auto;
    }
}
#windshield {
    .img-fluid {
        @media screen and (max-width: 768px) {
            max-height: 20vh;
        }
    }
    h5.lg {
        &.mb-3 {
            font-size: 1.2rem!important;
            color: #FFFFFF;
        }
        color: #686868;
    }
}
#stops, #enhances {
    .unprotected, .protected{
        position: relative;
        height: 25rem;
        margin-bottom: 2.5rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        label {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: calc(0px - 2.1875rem);
            height: 4.0625rem;
            color: white;
            font-size: 1.875rem;
            border: none;
            padding: 2rem;
        }
        @media screen and (max-width: 768px) {
            height: 25vh;
            label {
                font-size: 1rem;
            }
        }
    }
    .protected {
        label {
            content: 'PROTECTED';
            background-color: #D52027;
        }
    }
    .unprotected {
        label {
            content: 'UNPROTECTED';
            background-color: #6A6A6A;
        }
    }
    .vertical-divider-red {
        &>* {
            position: relative;
            &:last-child::before{
                position: absolute;
                content: '';
                display: block;
                top: -5%;
                left: 0%;
                background-color: #D52027;
                width: .6rem;
                height: 99%;
                z-index: 9;
            }
        }
    }
}
#stops {
    .protected {
        background-image: url(images/protected_1.jpg);
    }
    .unprotected {
        background-image: url(images/unprotected_1.jpg);
    }
}
#enhances {
    .protected {
        background-image: url(images/protected_2.jpg);
    }
    .unprotected {
        background-image: url(images/unprotected_2.jpg);
    }
    .uncoated {
        background-image: url(images/uncoated.jpg);
        >div {
            @media screen and (max-width: 768px) {
                text-align: left!important;
            }
        }
    }
    .coated {
        background-image: url(images/coated.jpg);
        >div {
            @media screen and (max-width: 768px) {
                text-align: right!important;
            }
        }
    }
    .coated, .uncoated {
        height: 25rem;
        background-size: cover;
        background-repeat: no-repeat;
        color: #555555;
        margin-bottom: 3.75rem;

        @media screen and (max-width: 768px) {
            height: 15rem!important;
        }
        >div {
            position: absolute;
            width: 50%;
            bottom: -3.75rem;
            left: 25%;
            box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);

            @media screen and (max-width: 768px) {
                width: calc(100% - 14vw);
                left: 7vw;
                top: 103%;
                bottom: unset;
                box-shadow: none;
            }
        }
    }
}
#liquid {
    .float-start {
        img {
            width: 3rem;
            margin-right: 2rem;
        }
    }
}
#whatsin {
    @media screen and (max-width: 768px) {
        padding-top: 0;
        padding-bottom: 0;
        .flex-row {
            .text-red {
                color: #555555!important;
                margin-top: 2.5rem;
                padding-right: 30%;
            }
        }
    }
    .whatsin {
        background-image: url(images/whatsin.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .bb-red {
        background-image: url(images/whatsin_mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 22rem;
        border-radius: 0.625rem;
        margin-bottom: 2.5rem;
    }
}
.matbus, .airport {
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    height: 22rem;
    border-bottom-right-radius: .625rem;
    border-bottom-left-radius: .625rem;
}
.matbus {
    background-image: url(images/matbus.jpg);
}
.airport {
    background-image: url(images/hector_airport.jpg);
}